.navbar2{
    background-color: rgb(119, 141, 125);
    color: black;
    position: fixed;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 8px -1px rgba(0, 0, 0, 0.9);
    z-index: 2;

}

.para1{
    width: 90%;
    margin-top: 60px;
    height: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

.name{
    color: gold;
    border-radius: 5px;
    background-color: rgb(40, 53, 40);
}


@media screen and (max-width: 480px){
    .navbar2{
        background-color: rgb(119, 141, 125);
        color: rgb(7, 7, 7);
        position: fixed;
        margin-top: 6em;
        display: flex;
        width: 100%;
        height: auto;
        text-align: justify;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 5px 8px -1px rgba(0, 0, 0, 0.9);
        z-index: 2;
    
    }
    .name{
        color:rgb(119, 141, 125);
        border-radius: 5px;
        background-color: rgb(119, 141, 125);
    }

    .para1{
        width: 90%;
        margin-top: 60px;
        height: auto;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 15px;
    }
}
