


.postList{
    width: 60%;
    margin: auto;
    margin-top: 13em;
    
}



.post{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 251, 251);
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 30px;
    box-shadow: 0px 5px 17px -3px rgba(0, 0, 0, 0.75);
}

.post-img{
    height: 500px;
    width: 95%;
    border-radius: 30px;
    padding: 20px;
    object-fit: fill;

}

.post-ttl{
    font-size: x-large;
    font-weight: 600;
    margin: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.post-desc{
    word-wrap: break-word;
    height: auto;
    max-height: 200px;
    width: 95%;
    text-align: justify;
    overflow: hidden;
    overflow-y: auto;
    

    
    
}

.delete{
    position: relative;
    border: none;
    margin: 20px;
    align-self: flex-end;
    padding: 10px;
    border-radius: 50px;
    background: rgb(247, 250, 247);
    cursor: pointer;
    z-index: -1;
}

.delete:hover{
    background:red;
}





@media screen and (max-width: 480px){
    .postList{
        width: 98%;
        margin: auto;
        margin-top: 3em;
    }

    .post-ttl{
        font-size: large;
        font-weight: 600;
        margin: 20px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}
