.sidebar{
    width: 20%;
    top: 0;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.profile{
    width: 95%;
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-img{
    width: 85%;
    height: 200px;
    margin-top: 1px;
    border-radius: 8px;
    
}

.sidebar-li{
    
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sidebar-ul{
    align-self: flex-start;
}

.h-4{
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}



@media screen and (max-width: 480px){
    .sidebar{
        width: 100%;
        top: 0;
        justify-content: center;
        align-items: center;
        margin-top: 190px;
        margin-left: 20px;
        margin-right: 20px;
    }
}